:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0fef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;

  scrollbar-width: none;
  -ms-overflow-style: none;

  --color-accent: #396cd8;
  --color-accent-R: 57;
  --color-accent-G: 108;
  --color-accent-B: 216;
  --color-accent-lightest: #6f9dff;
  --color-accent-darker: #304f92;
  --color-onAccent: white;

  --color-theme: #f6f6f6;
  --color-theme-R: 246;
  --color-theme-G: 246;
  --color-theme-B: 246;
  --color-onTheme: #0f0f0fef;
  --color-onTheme-R: 15;
  --color-onTheme-G: 15;
  --color-onTheme-B: 15;

  --color-border: #0f0f0f2d;
  --color-surface: #eeeeee;
  --color-surfaceHover: white;
  --color-shadow: #0f0f0f2d;

  *::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

.app-window {
  position: fixed;
  inset: 0;
}

.window-content {
  margin: 0;
  position: absolute;
  inset: 52px 8px 0 8px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.titlebar {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 4px;
  inset-inline: 4px;
  height: 40px;
  z-index: 9999;
}

.titlebar-title {
  flex-grow: 1;
  margin-top: -5px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: left;
  pointer-events: none;
}

.titlebar-title > label {
  padding-inline: 12px;
  padding-block: 4px;
  border-radius: 6px;
  pointer-events: auto;
  transition: background-color 0.16s, box-shadow 0.25s;
}

.titlebar-title > label:hover {
  background-color: #0f0f0f10;
}

.titlebar-title > label:active {
  background-color: #0f0f0f20;
}

.titlebar-button,
.titlebar-close {
  margin-top: -4px;
  font-family: "Icons";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  cursor: auto;

  transition: background-color 0.16s;
}

.titlebar-button {
  width: 48px;
}

.titlebar-button:hover {
  background-color: #0f0f0f10;
}

.titlebar-button:active {
  background-color: #0f0f0f20;
}

.titlebar-close {
  margin-right: -4px;
  width: 56px;
}

.titlebar-close:hover {
  color: white;
  background-color: red;
}

.titlebar-close:active {
  color: white;
  background-color: #ff5e5e;
}

.page-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  position: absolute;
  inset: 0;
  transition: all 0.2s cubic-bezier(0.1, 0, 0, 1);
  overflow: scroll;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.page.float {
  background-color: var(--color-surface);
  box-shadow: 0 4px 8px 0 var(--color-border);
  border: var(--color-border) 1px solid;
  border-radius: 16px;
  inset: 16px;
}

.page.markdown {
  justify-items: start;
  align-items: start;
  text-align: start;
  inset: 0 32px;
  gap: 0;
}

.navigator-bar {
  position: absolute;
  inset-inline: 16px;
  bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.navigator-bar button {
  height: 48px;
  width: 120px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator-bar button:disabled {
  transition: none;
  background-color: #396cd84d;
}

input {
  border: none;
  border-radius: 8px;
  padding: 6px 8px;
  color: var(--color-onTheme);
  background-color: var(--color-surface);
  box-shadow: 0 0 0 1px var(--color-border);
  transition: background-color 0.16s, box-shadow 0.1s;
}

input:hover {
  background-color: var(--color-surfaceHover);
}

input:focus {
  background-color: var(--color-surfaceHover);
  box-shadow: var(--color-accent) 0 0 0 2px, var(--color-shadow) 0 4px 16px;
  z-index: 9998;
}

button {
  outline: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.16s;
}

button:hover {
  background-color: #0f0f0f10;
}

button:active {
  background-color: #0f0f0f20;
}

button:disabled {
  pointer-events: none;
}

input,
button {
  outline: none;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
  transition: background-color 0.1s, color 0.1s;
}

a:hover {
  color: var(--color-surfaceHover);
  background-color: var(--color-accent);
}

a:active {
  color: var(--color-surface);
  background-color: var(--color-accent-darker);
}

.contains-task-list {
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
}

.task-list-item {
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.16s;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.task-list-item:hover {
  background-color: rgba(
    var(--color-accent-R),
    var(--color-accent-G),
    var(--color-accent-B),
    0.2
  );
}

.task-list-item:active {
  background-color: rgba(
    var(--color-accent-R),
    var(--color-accent-G),
    var(--color-accent-B),
    0.4
  );
}

.task-list-item-checkbox {
  box-shadow: none;
  margin: 0;
  margin-left: -16px;
  margin-top: -16px;
  translate: -2px 20px;
  height: 16px;
  width: 16px;
  pointer-events: none;
}

ul {
  margin-block: 0;
}

pre {
  background-color: var(--color-surface);
  border: var(--color-border) 1px solid;
  width: calc(100% - 40px);
  border-radius: 8px;
  padding: 16px;
  user-select: text;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.language-label {
  position: absolute;
  translate: 0 -24px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  opacity: 0.6;
}

.language-plaintext {
  color: var(--color-onTheme) !important;
  background-color: var(--color-surface) !important;
  border: var(--color-border) 1px solid !important;
  text-shadow: none !important;
  border-radius: 4px;
  user-select: text;
  padding: 0 4px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6ef;

    --color-accent: #74a0ff;
    --color-accent-R: 116;
    --color-accent-G: 160;
    --color-accent-B: 255;
    --color-accent-lightest: #6f9dff;
    --color-accent-darker: #304f92;

    --color-theme: #0f0f0f;
    --color-theme-R: 15;
    --color-theme-G: 15;
    --color-theme-B: 15;
    --color-onTheme: #f6f6f6ef;
    --color-onTheme-R: 246;
    --color-onTheme-G: 246;
    --color-onTheme-B: 246;

    --color-border: #f6f6f62d;
    --color-surface: #272727;
    --color-surfaceHover: #363636;
    --color-shadow: black;
  }

  button {
    color: #f6f6f6d6;
  }

  button:hover {
    background-color: #f6f6f60d;
  }

  button:active {
    background-color: #f6f6f61d;
  }

  .titlebar-title > label:hover {
    background-color: #f6f6f610;
  }

  .titlebar-title > label:active {
    background-color: #f6f6f620;
  }

  .titlebar-button:hover {
    background-color: #f6f6f60d;
  }

  .titlebar-button:active {
    background-color: #f6f6f61d;
  }

  .titlebar-close:active {
    background-color: #c00000;
  }
}
